<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Configuracion.ConexionBD" connectionString="Data Source=ingenieriadesarrollo.database.windows.net;Initial Catalog=ReconocimientoFacial;User ID=bpaul573;Password=Desarrolloingenieria001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>